__pycache__/*

keras_autoencoder_builder/__pycache__/*
keras_autoencoder_builder_two_input/__pycache__/*

data_opt_mod/__pycache__/*
data_opt_mod/get_pokemon_img

model_mod/__pycache__/*
model_mod/weight/*
!model_mod/weight/.gitkeep
model_mod/tflog/*
!model_mod/tflog/.gitkeep

create_img/*
!create_img/.gitkeep

